{% extends 'base.html'%}

{% block content%}

    <div><strong>Object URL:</strong>{{url}}</div>
    <div><strong>Object List:</strong>{{object_list}}</div>
    <div><strong>Name : </strong>{{name}}</div>
    <div><strong>Target : </strong>{{target}}</div>
    <div><strong>Delete Target : </strong>{{delete_target}}</div>
    <div><strong>Create Endpoint : </strong>{{create}}</div>
    <div><strong>Retrieve Endpoint : </strong>{{retrieve}}</div>
    <div><strong>Update Endpoint : </strong>{{update}}</div>
    <div><strong>Delete Endpoint : </strong>{{delete}}</div>
{% endblock%}