{% extends 'base.html' %}

{% load model_field %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                {% for header in headers %}

                <th scope="col">{{header}}</th>
                {% endfor %}
            
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr class="">
                    {% for header in headers %}
                        <td scope="row">{{ obj | addfield:header }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
           
        </tbody>
    </table>


{% endblock content %}
        
    </div>
</body>
</html>