    <h2> {{name | title}}
         
    </h2>
    {% if create %}
    <!-- <div class="mb-1"> <a  class="btn btn-primary" href="#" role="button">Add {{name | title}}</a> </div> -->
    <div class="mb-1"> {% include 'table/table_create_modal.html' %}</div>
    {% endif %}
    <table class="{{ table_classes}}">
        <thead class="table-dark">
            <tr>
                {% if headers.sno%}
                    <th scope="col">Sno</th>
                {% endif%}
                {% for header in headers.fields %}

                <th scope="col">{{header}}</th>
                {% endfor %}

                {% if create or update or delete %}
                    <th scope="col">Action</th>
                {% endif%}
            
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
               
                 {% include 'table/row.html' %}
            {% endfor %}
           
        </tbody>
    </table>
