{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-5 offset-md-1">
            <div id="obj_list">
                {% include 'comp_qty/list.html' %}
            </div>
    </div>
    <div class="col-md-5 ">
            <div id="child_list" > </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-6 offset-3">
        <div class="card card-body" id="#test">
            
        </div>
    </div>
</div> -->
    
   

 
{% endblock content %}
    